@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Neo Sans';
    src: url('/fonts/Neo Sans Std Bold.otf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/Myriad Pro Regular.woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro Condensed';
    src: url('/fonts/Myriad Pro Condensed.woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Meiryo';
    src: url('/fonts/Meiryo.ttf');
    font-weight: 400;
    font-display: swap;
}

.home-background {
    background-image: url("/wallpaper.webp");
    background-size: cover;
    background-position: center; 
}

.ShB-bg,
.SB-bg,
.HW-bg,
.EW-bg,
.ARR-bg {
    background-size: cover;
    background-position: center; 
}

.ARR-bg {
    background-image: url("/expansions/ARR.webp");
}

.HW-bg {
    background-image: url("/expansions/HW.webp");
}

.SB-bg {
    background-image: url("/expansions/SB.webp");
}

.ShB-bg {
    background-image: url("/expansions/ShB.webp");
}

.EW-bg {
    background-image: url("/expansions/EW.webp");
}



/** EXPANSIONS VIGNETTES **/
.bgImage {
    @apply grayscale opacity-50;
}

/* .vignette:hover .bgImage, */
.vignette.active .bgImage {
    @apply grayscale-0 saturate-150 opacity-100;
}

.vignette:not(.active):not(.disabled):hover .bgImage {
    @apply saturate-150;
    filter: grayscale(0);
}

.reflect {
    @apply opacity-0 left-1/2;
}

.vignette:not(.disabled):hover .reflect,
.vignette.active .reflect {
    @apply opacity-100 left-3/4;
}

.ARR.active {
    @apply border-cyan-300/70 shadow-cyan-500;
}

.ARR:not(.disabled):hover .bg,
.ARR.active .bg {
    @apply bg-cyan-300/70;
}

.ARR.active .left-bar {
    @apply bg-cyan-300/70;
}


.HW.active {
    @apply border-cyan-100/90 shadow-cyan-100;
}

.HW:not(.disabled):hover .bg,
.HW.active .bg {
    @apply bg-cyan-500/80;
}

.HW.active .left-bar {
    @apply bg-cyan-100/90;
}


.SB.active {
    @apply border-yellow-200/90 shadow-yellow-300;
}

.SB:not(.disabled):hover .bg,
.SB.active .bg {
    @apply bg-red-500/90;
}

.SB.active .left-bar {
    @apply bg-yellow-200/90;
}


.ShB.active {
    @apply border-indigo-300/70 shadow-indigo-500;
}

.ShB:not(.disabled):hover .bg,
.ShB.active .bg  {
    @apply bg-indigo-400/80;
}

.ShB.active .left-bar {
    @apply bg-indigo-400/80;
}


.EW.active {
    @apply border-orange-300/70 shadow-orange-500;
}

.EW:not(.disabled):hover .bg,
.EW.active .bg {
    @apply bg-blue-800/70;
}

.EW.active .left-bar {
    @apply bg-orange-300/70;
}


.leaflet-container {
    width: 100%;
    height: 100%;
    /* background-color: rgb(203,185,112); */
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.leaflet-top.leaflet-left,
.leaflet-top.leaflet-right,
.leaflet-bottom.leaflet-left,
.leaflet-control:not(.leaflet-control-zoom):not(.leaflet-pm-toolbar),
.leaflet-bottom.leaflet-right {
    width: 100%;
}

.leaflet-top .leaflet-control {
    margin-top: 3px;
}

.leaflet-bottom.leaflet-left .leaflet-control {
    margin: 0px;
}

.leaflet-bottom.leaflet-right .leaflet-control {
    margin: 0px;
}

.ffxivBtn {
    background: linear-gradient(to bottom, #737572, #505050 46%, #373739 54%, #404040 75%, #555354) !important;
}

.ffxivBtn:not(.disabled):hover, .dropdownMenu:hover .ffxivBtn, .guessBtn:hover .ffxivBtn:not(.disabled) {
    background: linear-gradient(to bottom, #838582, #606060 46%, #474749 54%, #505050 75%, #656364) !important;
}

.tooltipHighlight, .leaflet-tooltip:hover {
    @apply shadow-violet-900;
}

.tooltipRegion.tooltipHighlight, .tooltipRegion.leaflet-tooltip:hover {
    @apply shadow-red-400/50;
}

.leaflet-marker-icon {
    pointer-events: none !important;
}

.mobile .leaflet-container {
    @apply bg-slate-900;
}

.psv-container {
    background: radial-gradient(circle, rgba(30 41 59) 0%, rgba(15 23 42) 100%);
}

.psv-navbar {
    display: none;
}

.zoom-slider {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    appearance: none;
    background: transparent; /* Otherwise white in Chrome */
}
  
.zoom-slider::-moz-range-thumb {
    height: 20px;
    width: 10px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, #fad59a, #b49665 50%, #fad59a);
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.6);
    cursor: pointer;
    border: none;
}

.zoom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 10px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, #fad59a, #b49665 50%, #fad59a);
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.6);
    cursor: pointer;
    border: none;
    transform: translateY(-9px);
}

.zoom-slider::-ms-thumb {
    height: 20px;
    width: 10px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, #fad59a, #b49665 50%, #fad59a);
    box-shadow: -1px 0px 2px 1px rgba(0,0,0,0.6);
    cursor: pointer;
    border: none;
}
  
.zoom-slider:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.zoom-slider::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(#bf9764, #a98657 50%, #665033); 
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.8);
    border-radius: 2px;
    color: transparent;
}

.zoom-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(#bf9764, #a98657 50%, #665033); 
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.8);
    border-radius: 2px;
    color: transparent;
}

.zoom-slider::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(#bf9764 33%, #a98657 66%, #665033); 
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.8);
    border-radius: 2px;
    color: transparent;
}



@media only screen and (min-width: 600px) {
    .map {
        transition-property: width, height;
        transition-duration: 0.2s;
        max-height: 75vh;
        max-width: 75vw;
    }
    
    .map.level1 {
        width: 30rem;
        height: 30rem;
    }
    
    .map.level2 {
        width: 45rem;
        height: 35rem;
    }
    
    .map.level3 {
        width: 55rem;
        height: 40rem;
    }
    
    .map.level1.res4k {
        width: 60rem;
        height: 60rem;
    }
    
    .map.level2.res4k {
        width: 90rem;
        height: 70rem;
    }
    
    .map.level3.res4k {
        width: 110rem;
        height: 80rem;
    }
}
