name: Deploy eorguessr v1

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t pampalamos/eorguessr:latest .
          docker push pampalamos/eorguessr:latest

      - name: Set up kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config

      - name: Update deployment on Kubernetes
        run: |
          kubectl set image deployment/eorguessr-v1 eorguessr-v1=pampalamos/eorguessr:latest -n eorguessr
          kubectl rollout restart deployment/eorguessr-v1 -n eorguessr
          kubectl rollout status deployment/eorguessr-v1 -n eorguessr
      - name: Force rollout restart
        run: |
          kubectl rollout restart deployment/eorguessr-v1 -n eorguessr
